[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
flask-login = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-session = "*"
flask-socketio = "*"
setuptools = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
