<!DOCTYPE html>
<html>
<head>
    <title>Mode d'emploi - Ma Super Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mode d'emploi - Ma Super Application</h1>
        <p>Bienvenue dans Ma Super Application! Voici un guide rapide pour vous aider à démarrer :</p>

        <h2>Étape 1: Inscription</h2>
        <p>Pour commencer, vous devez vous inscrire en tant qu'utilisateur :</p>
        <ol>
            <li>Cliquez sur le lien "S'inscrire" dans la barre de navigation.</li>
            <li>Remplissez le formulaire d'inscription avec vos informations.</li>
            <li>Appuyez sur le bouton "S'inscrire" pour créer votre compte.</li>
        </ol>

        <h2>Étape 2: Connexion</h2>
        <p>Une fois que vous avez un compte, vous pouvez vous connecter à votre espace utilisateur :</p>
        <ol>
            <li>Cliquez sur le lien "Se connecter" dans la barre de navigation.</li>
            <li>Saisissez votre nom d'utilisateur et mot de passe.</li>
            <li>Appuyez sur le bouton "Se connecter" pour accéder à votre espace utilisateur.</li>
        </ol>

        <h2>Étape 3: Utiliser l'application</h2>
        <p>Une fois connecté, vous pouvez utiliser les fonctionnalités de l'application :</p>
        <ul>
            <li>Accéder à votre tableau de bord personnel.</li>
            <li>Télécharger et générer des fichiers PDF.</li>
            <li>Accéder à des fonctionnalités supplémentaires, etc.</li>
        </ul>

        <h2>Étape 4: Déconnexion</h2>
        <p>Lorsque vous avez terminé d'utiliser l'application, pensez à vous déconnecter :</p>
        <ol>
            <li>Cliquez sur le lien "Se déconnecter" dans la barre de navigation.</li>
            <li>Vous serez redirigé vers la page d'accueil.</li>
        </ol>

        <p>Merci d'utiliser Ma Super Application! Si vous avez besoin d'aide supplémentaire, n'hésitez pas à nous contacter.</p>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
