{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% include 'user/navbar.html' %}
    <div class="container">
      <h1 class="display-6 text-center my-3">
            Utilisateur
        </h1>
      



  <section style="background-color: #eee;">
    <div class="container py-5">
      
     
<!------------------------------------------------------------ -->
         
<!-------------------------------------------------------------->

        <div class="col-lg-20">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{users.fname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{users.lname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{users.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{users.email}}</p>
                </div>
              </div>
              <hr>
              
              
              
          </div>
          <div class="row">
            <div class="col-md-120">
              <div class="card mb-4 mb-md-0 ">
                <a href="/pdf" class="btn btn-info w-full">generer code barre</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
